<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncvt.tourism.mapper.ExhibitsMapper">
  <resultMap id="BaseResultMap" type="com.ncvt.tourism.model.Exhibits">
    <id column="exhibits_id" jdbcType="INTEGER" property="exhibitsId" />
    <result column="exhibition_area_id" jdbcType="INTEGER" property="exhibitionAreaId" />
    <result column="exhibits_name" jdbcType="VARCHAR" property="exhibitsName" />
    <result column="exhibits_video_url" jdbcType="VARCHAR" property="exhibitsVideoUrl" />
    <result column="exhibits_information" jdbcType="VARCHAR" property="exhibitsInformation" />
    <result column="exhibits_author" jdbcType="VARCHAR" property="exhibitsAuthor" />
    <result column="cell_phone_number" jdbcType="VARCHAR" property="cellPhoneNumber" />
    <result column="guidance_teacher" jdbcType="VARCHAR" property="guidanceTeacher" />
    <result column="team_members" jdbcType="VARCHAR" property="teamMembers" />
    <collection property="fabulousDetailsList" ofType="com.ncvt.tourism.model.FabulousDetails" select="getFabulousDetailsList" column="exhibits_id"/>
    <collection property="exhibitsPicList" ofType="com.ncvt.tourism.model.ExhibitsPic" select="getExhibitsPicList" column="exhibits_id"/>
    <collection property="exhibitsCommentList" ofType="com.ncvt.tourism.model.ExhibitsComment" select="getExhibitsCommentList" column="exhibits_id"/>
  </resultMap>

  <resultMap id="FabulousDetailsMap" type="com.ncvt.tourism.model.FabulousDetails" >
    <id column="fabulous_details_id" jdbcType="INTEGER" property="fabulousDetailsId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="exhibits_id" jdbcType="INTEGER" property="exhibitsId" />
    <result column="fabulous_number" jdbcType="INTEGER" property="fabulousNumber" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>

  <resultMap id="ExhibitsPicMap" type="com.ncvt.tourism.model.ExhibitsPic">
    <id column="exhibits_pic_id" jdbcType="INTEGER" property="exhibitsPicId" />
    <result column="exhibits_id" jdbcType="INTEGER" property="exhibitsId" />
    <result column="exhibits_pic_url" jdbcType="VARCHAR" property="exhibitsPicUrl" />
  </resultMap>

  <resultMap id="ExhibitsCommentMap" type="com.ncvt.tourism.model.ExhibitsComment">
    <id column="exhibits_comment_id" jdbcType="INTEGER" property="exhibitsCommentId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="exhibits_id" jdbcType="INTEGER" property="exhibitsId" />
    <result column="exhibits_comment_content" jdbcType="VARCHAR" property="exhibitsCommentContent" />
    <result column="comment_praise_points" jdbcType="INTEGER" property="commentPraisePoints" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    exhibits_id, exhibition_area_id, exhibits_name, exhibits_video_url, exhibits_information, 
    exhibits_author, cell_phone_number, guidance_teacher, team_members
  </sql>
  <select id="selectByExample" parameterType="com.ncvt.tourism.model.ExhibitsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_exhibits
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_exhibits
    where exhibits_id = #{exhibitsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_exhibits
    where exhibits_id = #{exhibitsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ncvt.tourism.model.ExhibitsExample">
    delete from tbl_exhibits
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ncvt.tourism.model.Exhibits">
    insert into tbl_exhibits (exhibits_id, exhibition_area_id, exhibits_name, 
      exhibits_video_url, exhibits_information, 
      exhibits_author, cell_phone_number, guidance_teacher, 
      team_members)
    values (#{exhibitsId,jdbcType=INTEGER}, #{exhibitionAreaId,jdbcType=INTEGER}, #{exhibitsName,jdbcType=VARCHAR}, 
      #{exhibitsVideoUrl,jdbcType=VARCHAR}, #{exhibitsInformation,jdbcType=VARCHAR}, 
      #{exhibitsAuthor,jdbcType=VARCHAR}, #{cellPhoneNumber,jdbcType=VARCHAR}, #{guidanceTeacher,jdbcType=VARCHAR}, 
      #{teamMembers,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ncvt.tourism.model.Exhibits">
    insert into tbl_exhibits
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="exhibitsId != null">
        exhibits_id,
      </if>
      <if test="exhibitionAreaId != null">
        exhibition_area_id,
      </if>
      <if test="exhibitsName != null">
        exhibits_name,
      </if>
      <if test="exhibitsVideoUrl != null">
        exhibits_video_url,
      </if>
      <if test="exhibitsInformation != null">
        exhibits_information,
      </if>
      <if test="exhibitsAuthor != null">
        exhibits_author,
      </if>
      <if test="cellPhoneNumber != null">
        cell_phone_number,
      </if>
      <if test="guidanceTeacher != null">
        guidance_teacher,
      </if>
      <if test="teamMembers != null">
        team_members,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="exhibitsId != null">
        #{exhibitsId,jdbcType=INTEGER},
      </if>
      <if test="exhibitionAreaId != null">
        #{exhibitionAreaId,jdbcType=INTEGER},
      </if>
      <if test="exhibitsName != null">
        #{exhibitsName,jdbcType=VARCHAR},
      </if>
      <if test="exhibitsVideoUrl != null">
        #{exhibitsVideoUrl,jdbcType=VARCHAR},
      </if>
      <if test="exhibitsInformation != null">
        #{exhibitsInformation,jdbcType=VARCHAR},
      </if>
      <if test="exhibitsAuthor != null">
        #{exhibitsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="cellPhoneNumber != null">
        #{cellPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="guidanceTeacher != null">
        #{guidanceTeacher,jdbcType=VARCHAR},
      </if>
      <if test="teamMembers != null">
        #{teamMembers,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ncvt.tourism.model.ExhibitsExample" resultType="java.lang.Long">
    select count(*) from tbl_exhibits
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_exhibits
    <set>
      <if test="record.exhibitsId != null">
        exhibits_id = #{record.exhibitsId,jdbcType=INTEGER},
      </if>
      <if test="record.exhibitionAreaId != null">
        exhibition_area_id = #{record.exhibitionAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.exhibitsName != null">
        exhibits_name = #{record.exhibitsName,jdbcType=VARCHAR},
      </if>
      <if test="record.exhibitsVideoUrl != null">
        exhibits_video_url = #{record.exhibitsVideoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.exhibitsInformation != null">
        exhibits_information = #{record.exhibitsInformation,jdbcType=VARCHAR},
      </if>
      <if test="record.exhibitsAuthor != null">
        exhibits_author = #{record.exhibitsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.cellPhoneNumber != null">
        cell_phone_number = #{record.cellPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.guidanceTeacher != null">
        guidance_teacher = #{record.guidanceTeacher,jdbcType=VARCHAR},
      </if>
      <if test="record.teamMembers != null">
        team_members = #{record.teamMembers,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_exhibits
    set exhibits_id = #{record.exhibitsId,jdbcType=INTEGER},
      exhibition_area_id = #{record.exhibitionAreaId,jdbcType=INTEGER},
      exhibits_name = #{record.exhibitsName,jdbcType=VARCHAR},
      exhibits_video_url = #{record.exhibitsVideoUrl,jdbcType=VARCHAR},
      exhibits_information = #{record.exhibitsInformation,jdbcType=VARCHAR},
      exhibits_author = #{record.exhibitsAuthor,jdbcType=VARCHAR},
      cell_phone_number = #{record.cellPhoneNumber,jdbcType=VARCHAR},
      guidance_teacher = #{record.guidanceTeacher,jdbcType=VARCHAR},
      team_members = #{record.teamMembers,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncvt.tourism.model.Exhibits">
    update tbl_exhibits
    <set>
      <if test="exhibitionAreaId != null">
        exhibition_area_id = #{exhibitionAreaId,jdbcType=INTEGER},
      </if>
      <if test="exhibitsName != null">
        exhibits_name = #{exhibitsName,jdbcType=VARCHAR},
      </if>
      <if test="exhibitsVideoUrl != null">
        exhibits_video_url = #{exhibitsVideoUrl,jdbcType=VARCHAR},
      </if>
      <if test="exhibitsInformation != null">
        exhibits_information = #{exhibitsInformation,jdbcType=VARCHAR},
      </if>
      <if test="exhibitsAuthor != null">
        exhibits_author = #{exhibitsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="cellPhoneNumber != null">
        cell_phone_number = #{cellPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="guidanceTeacher != null">
        guidance_teacher = #{guidanceTeacher,jdbcType=VARCHAR},
      </if>
      <if test="teamMembers != null">
        team_members = #{teamMembers,jdbcType=VARCHAR},
      </if>
    </set>
    where exhibits_id = #{exhibitsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncvt.tourism.model.Exhibits">
    update tbl_exhibits
    set exhibition_area_id = #{exhibitionAreaId,jdbcType=INTEGER},
      exhibits_name = #{exhibitsName,jdbcType=VARCHAR},
      exhibits_video_url = #{exhibitsVideoUrl,jdbcType=VARCHAR},
      exhibits_information = #{exhibitsInformation,jdbcType=VARCHAR},
      exhibits_author = #{exhibitsAuthor,jdbcType=VARCHAR},
      cell_phone_number = #{cellPhoneNumber,jdbcType=VARCHAR},
      guidance_teacher = #{guidanceTeacher,jdbcType=VARCHAR},
      team_members = #{teamMembers,jdbcType=VARCHAR}
    where exhibits_id = #{exhibitsId,jdbcType=INTEGER}
  </update>

  <select id="getFabulousDetailsList" parameterType="com.ncvt.tourism.model.FabulousDetails" resultMap="FabulousDetailsMap">
    select * from tbl_fabulous_details where exhibits_id=#{id}
  </select>
  <select id="getExhibitsPicList" parameterType="com.ncvt.tourism.model.ExhibitsPic" resultMap="ExhibitsPicMap">
    select * from tbl_exhibits_pic where exhibits_id=#{id}
  </select>
  <select id="getExhibitsCommentList" parameterType="com.ncvt.tourism.model.ExhibitsComment" resultMap="ExhibitsCommentMap">
    select * from tbl_exhibits_comment where exhibits_id=#{id}
  </select>

</mapper>