<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncvt.tourism.mapper.ExhibitsCommentMapper">
  <resultMap id="BaseResultMap" type="com.ncvt.tourism.model.ExhibitsComment">
    <id column="exhibits_comment_id" jdbcType="INTEGER" property="exhibitsCommentId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="exhibits_id" jdbcType="INTEGER" property="exhibitsId" />
    <result column="exhibits_comment_content" jdbcType="VARCHAR" property="exhibitsCommentContent" />
    <result column="comment_praise_points" jdbcType="INTEGER" property="commentPraisePoints" />
    <collection property="userInfo" ofType="com.ncvt.tourism.model.User" select="getUserInfo" column="user_id"/>
  </resultMap>

  <resultMap id="UserMap" type="com.ncvt.tourism.model.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_tellphone" jdbcType="VARCHAR" property="userTellphone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="user_idcard" jdbcType="VARCHAR" property="userIdcard" />
    <result column="user_birthday" jdbcType="TIMESTAMP" property="userBirthday" />
    <result column="nagai_addr" jdbcType="VARCHAR" property="nagaiAddr" />
    <result column="user_pic_url" jdbcType="VARCHAR" property="userPicUrl" />
    <result column="user_account_name" jdbcType="VARCHAR" property="userAccountName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_money" jdbcType="DOUBLE" property="userMoney" />
    <result column="user_time" jdbcType="TIMESTAMP" property="userTime" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    exhibits_comment_id, user_id, exhibits_id, exhibits_comment_content, comment_praise_points
  </sql>
  <select id="selectByExample" parameterType="com.ncvt.tourism.model.ExhibitsCommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_exhibits_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_exhibits_comment
    where exhibits_comment_id = #{exhibitsCommentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_exhibits_comment
    where exhibits_comment_id = #{exhibitsCommentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ncvt.tourism.model.ExhibitsCommentExample">
    delete from tbl_exhibits_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ncvt.tourism.model.ExhibitsComment">
    insert into tbl_exhibits_comment (exhibits_comment_id, user_id, exhibits_id, 
      exhibits_comment_content, comment_praise_points
      )
    values (#{exhibitsCommentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{exhibitsId,jdbcType=INTEGER}, 
      #{exhibitsCommentContent,jdbcType=VARCHAR}, #{commentPraisePoints,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ncvt.tourism.model.ExhibitsComment">
    insert into tbl_exhibits_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="exhibitsCommentId != null">
        exhibits_comment_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="exhibitsId != null">
        exhibits_id,
      </if>
      <if test="exhibitsCommentContent != null">
        exhibits_comment_content,
      </if>
      <if test="commentPraisePoints != null">
        comment_praise_points,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="exhibitsCommentId != null">
        #{exhibitsCommentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="exhibitsId != null">
        #{exhibitsId,jdbcType=INTEGER},
      </if>
      <if test="exhibitsCommentContent != null">
        #{exhibitsCommentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentPraisePoints != null">
        #{commentPraisePoints,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ncvt.tourism.model.ExhibitsCommentExample" resultType="java.lang.Long">
    select count(*) from tbl_exhibits_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_exhibits_comment
    <set>
      <if test="record.exhibitsCommentId != null">
        exhibits_comment_id = #{record.exhibitsCommentId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.exhibitsId != null">
        exhibits_id = #{record.exhibitsId,jdbcType=INTEGER},
      </if>
      <if test="record.exhibitsCommentContent != null">
        exhibits_comment_content = #{record.exhibitsCommentContent,jdbcType=VARCHAR},
      </if>
      <if test="record.commentPraisePoints != null">
        comment_praise_points = #{record.commentPraisePoints,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_exhibits_comment
    set exhibits_comment_id = #{record.exhibitsCommentId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      exhibits_id = #{record.exhibitsId,jdbcType=INTEGER},
      exhibits_comment_content = #{record.exhibitsCommentContent,jdbcType=VARCHAR},
      comment_praise_points = #{record.commentPraisePoints,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncvt.tourism.model.ExhibitsComment">
    update tbl_exhibits_comment
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="exhibitsId != null">
        exhibits_id = #{exhibitsId,jdbcType=INTEGER},
      </if>
      <if test="exhibitsCommentContent != null">
        exhibits_comment_content = #{exhibitsCommentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentPraisePoints != null">
        comment_praise_points = #{commentPraisePoints,jdbcType=INTEGER},
      </if>
    </set>
    where exhibits_comment_id = #{exhibitsCommentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncvt.tourism.model.ExhibitsComment">
    update tbl_exhibits_comment
    set user_id = #{userId,jdbcType=INTEGER},
      exhibits_id = #{exhibitsId,jdbcType=INTEGER},
      exhibits_comment_content = #{exhibitsCommentContent,jdbcType=VARCHAR},
      comment_praise_points = #{commentPraisePoints,jdbcType=INTEGER}
    where exhibits_comment_id = #{exhibitsCommentId,jdbcType=INTEGER}
  </update>

  <select id="getUserInfo" parameterType="com.ncvt.tourism.model.User" resultMap="UserMap">
    select * from tbl_user where user_id=#{id}
  </select>
</mapper>