<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncvt.tourism.mapper.OrderDetailsMapper">
  <resultMap id="BaseResultMap" type="com.ncvt.tourism.model.OrderDetails">
    <id column="order_details_id" jdbcType="INTEGER" property="orderDetailsId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="contacts_id" jdbcType="INTEGER" property="contactsId" />
    <result column="passenger_id" jdbcType="INTEGER" property="passengerId" />
    <result column="order_details_describe" jdbcType="VARCHAR" property="orderDetailsDescribe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    order_details_id, order_id, contacts_id, passenger_id, order_details_describe
  </sql>
  <select id="selectByExample" parameterType="com.ncvt.tourism.model.OrderDetailsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_order_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_order_details
    where order_details_id = #{orderDetailsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_order_details
    where order_details_id = #{orderDetailsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ncvt.tourism.model.OrderDetailsExample">
    delete from tbl_order_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ncvt.tourism.model.OrderDetails">
    insert into tbl_order_details (order_details_id, order_id, contacts_id, 
      passenger_id, order_details_describe)
    values (#{orderDetailsId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{contactsId,jdbcType=INTEGER}, 
      #{passengerId,jdbcType=INTEGER}, #{orderDetailsDescribe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ncvt.tourism.model.OrderDetails">
    insert into tbl_order_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderDetailsId != null">
        order_details_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="contactsId != null">
        contacts_id,
      </if>
      <if test="passengerId != null">
        passenger_id,
      </if>
      <if test="orderDetailsDescribe != null">
        order_details_describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderDetailsId != null">
        #{orderDetailsId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="contactsId != null">
        #{contactsId,jdbcType=INTEGER},
      </if>
      <if test="passengerId != null">
        #{passengerId,jdbcType=INTEGER},
      </if>
      <if test="orderDetailsDescribe != null">
        #{orderDetailsDescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ncvt.tourism.model.OrderDetailsExample" resultType="java.lang.Long">
    select count(*) from tbl_order_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_order_details
    <set>
      <if test="record.orderDetailsId != null">
        order_details_id = #{record.orderDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.contactsId != null">
        contacts_id = #{record.contactsId,jdbcType=INTEGER},
      </if>
      <if test="record.passengerId != null">
        passenger_id = #{record.passengerId,jdbcType=INTEGER},
      </if>
      <if test="record.orderDetailsDescribe != null">
        order_details_describe = #{record.orderDetailsDescribe,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_order_details
    set order_details_id = #{record.orderDetailsId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      contacts_id = #{record.contactsId,jdbcType=INTEGER},
      passenger_id = #{record.passengerId,jdbcType=INTEGER},
      order_details_describe = #{record.orderDetailsDescribe,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncvt.tourism.model.OrderDetails">
    update tbl_order_details
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="contactsId != null">
        contacts_id = #{contactsId,jdbcType=INTEGER},
      </if>
      <if test="passengerId != null">
        passenger_id = #{passengerId,jdbcType=INTEGER},
      </if>
      <if test="orderDetailsDescribe != null">
        order_details_describe = #{orderDetailsDescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where order_details_id = #{orderDetailsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncvt.tourism.model.OrderDetails">
    update tbl_order_details
    set order_id = #{orderId,jdbcType=INTEGER},
      contacts_id = #{contactsId,jdbcType=INTEGER},
      passenger_id = #{passengerId,jdbcType=INTEGER},
      order_details_describe = #{orderDetailsDescribe,jdbcType=VARCHAR}
    where order_details_id = #{orderDetailsId,jdbcType=INTEGER}
  </update>
</mapper>